@media only screen and (max-height:600px){

    h1 {
        padding: 10px;
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
        margin-top: 20px;
    }

    p {
        font-size: 18px;
        margin: 20px;
    }

    button {
        font-size: 12px;
    }

    /* .wrapper {
        height: 400px;
    } */

   .flip-card {
       margin-top: 20px;
       width: 275px;
   }

   .flip-card-back {
       background-image:  url("./images/cathedral\ photo.jpg");
       width: 275px;
       height: 275px;
   }
}

@media only screen and (max-height:425px){
    
    h1 {
        padding: 15px;
        font-size: 15px;
    }

    h2 {
        font-size: 12px;
        margin-top: 15px;
    }

    p {
        font-size: 15px;
        margin: 10px;
    }

    button {
        font-size: 10px;
    }

    /* .wrapper {
        height: 350px;
    } */

   .flip-card {
       margin-top: 15px;
       width: 225px;
   }

   .flip-card-back {
       background-image:  url("./images/cathedral\ photo.jpg");
       width: 225px;
       height: 225px;
   }
}

@media only screen and (max-height:350px){

    h1 {
        padding: 5px;
        font-size: 15px;
    }

    h2 {
        font-size: 12px;
        margin-top: 10px;
    }

    p {
        font-size: 15px;
        margin: 10px;
    }

    button {
        font-size: 12px;
    }

    .wrapper {
        height: 95vh;
    }

   .flip-card {
       margin-top: 10px;
       width: 225px;
   }

   .flip-card-back {
       background-image:  url("./images/cathedral\ photo.jpg");
       width: 225px;
       height: 225px;
   }
}

@media only screen and (max-width:450px){

    h1 {
        padding: 10px;
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
        margin-top: 25px;
    }

    p {
        font-size: 18px;
        margin: 20px;
    }

    button {
        font-size: 12px;
    }

    /* .wrapper {
        height: 650px;
    } */

   .flip-card {
       margin-top: 25px;
       width: 275px;
   }

   .flip-card-back {
       width: 275px;
       height: 275px;
   }
}

@media only screen and (max-width:360px){

    h1 {
        padding: 10px;
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
        margin-top: 20px;
    }

    p {
        font-size: 12px;
        margin: 10px;
    }

    button {
        font-size: 12px;
    }

    /* .wrapper {
        height: 650px;
    } */

   .flip-card {
       margin-top: 20px;
       width: 200px;
   }

   .flip-card-back {
       width: 200px;
       height: 200px;
   }
}

/* @media only screen and (max-width:300px){

    .flip-card {
        margin-top: 50vh;
        width: 50vh;
    }
 
    .flip-card-back {
        width: 50vh;
        height: 50vh;
    }

} */